<div class="container d-flex justify-content-center">
  <div class="col-sm-6 shadow p-4">
    <h2>Password Generator</h2>
    <div class="mb-3">
      <label for="length" class="form-label">Length</label>
      <!-- <input type="number" class="form-control" id="length" (input)="passwordLength = $event.target.value"> -->
      <input type="number" class="form-control" id="length" (change)="onChangeLength($event.target.value)">
    </div>
    <div class="mb-3 form-check">
      <input (change)="onChangeUseLetter()" type="checkbox" class="form-check-input" id="useLetter">
      <label class="form-check-label" for="useLetter">Use Letter</label>
    </div>
    <div class="mb-3 form-check">
      <input [checked]="hasNumber" (change)="hasNumber = !hasNumber" type="checkbox" class="form-check-input"
        id="useNumber">
      <label class="form-check-label" for="useNumber">Use Number</label>
    </div>
    <div class="mb-3 form-check">
      <input [checked]="hasSymbol" (change)="hasSymbol = !hasSymbol" type="checkbox" class="form-check-input"
        id="useSymbol">
      <label class="form-check-label" for="useSymbol">Use Symbol</label>
    </div>
    <button [disabled]="!(length && (hasNumber || hasSymbol || hasLetter))" type="submit" class="btn btn-primary w-100"
      (click)="onButtonCLick()">
      Genereate
    </button>
    <div class="mb-3 mt-4" *ngIf="password">
      <label for="length" class="form-label">Your Password</label>
      <input type="text" class="form-control" id="length" [value]="password">
    </div>
  </div>
</div>